* {
 margin: 0;
 padding: 0;
}

body {
    background-color: rgb(243, 210, 243);
    text-align: center;
}

h1 {
    margin : 10px 0px;
    color: rgb(131, 40, 113);
}

#reset-btn {
    margin: 30px 0px;
    padding: 12px 24px;
    background-color: tomato;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1.25rem;
}

#reset-btn:hover {
    background-color: rgb(225, 55, 25);
    transition: ease-in;
}

.msg {
    color:rgb(46, 196, 64);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8vmin 0vmin;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    padding: 4vmin;
    background-color: rgb(131, 40, 113);
    width: 60vmin;
    height: 60vmin;
    border-radius: 1rem;
}

.box {
    background-color:rgb(220, 220, 186);
    width: 18vmin;
    height: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(36, 35, 35, 0.1);
    font-size: 8vmin;
    color:rgb(131, 40, 113);
    cursor: pointer;
    border: none;
}